.blog-home {
  margin: 0 auto;
  .blog-home-main {
    display: flex;
    padding: 15px 0;
    main {
      padding: 0 20px;
      flex: 1;
    }
    .blog-menu-aside {
      width: 150px;
    }
  }
}
