.blog-tab {
  display: flex;
  border-bottom: 1px solid #eee;
}
.blog-tab-item {
  padding: 10px 15px;
  cursor: default;
  position: relative;
  &.active {
    color: #1890ff;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-radius: 5px;
    margin: -1px;
    &:after {
      content: "";
      display: inline-block;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
}
.blog-article-item {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  > img {
    width: 120px;
    height: 90px;
    display: block;
    background: #eee;
  }
  .blog-item-body {
    flex: 1;
    h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #212121;
      position: relative;
      margin: 5px 0;
    }
    .blog-article-content {
      margin-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.5;
      color: #888;
      font-size: 13px;
    }
  }
}
