.blog-header {
  height: 75px;
  box-shadow: 0 0 10px #eee;
  padding: 0 20px;
  display: flex;
  align-items: center;
  .blog-main-width {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

img.logo {
  height: 100%;
}
.blog-navi {
  display: flex;
  height: 100%;
  margin: 0 40px;
}
.blog-navi-item {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.blog-navi-item a {
  color: #333;
}
.blog-navi-item a.active:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 2px;
  background: #1890ff;
}
