* {
  padding: 0;
  margin: 0;
}
.blog-main-width {
  width: 1140px;
  margin: 0 auto;
}
.title {
  padding: 10px 15px 10px 0;
}
.blog-banner {
  height: 185px;
  background: #16161a;
}
.blog-recommand-aside {
  width: 220px;
}
